<div class="row-fluid marketing">
	<hr>
	<h4>XML contact list upload</h4>
	<%= form_tag( { :action => 'upload' }, :multipart => true) do %>
  		<%= label_tag "File Upload :"%> 
		<div class="fileupload fileupload-new" data-provides="fileupload">
			<div class="input-append">
			<%= file_field( "form", "file" ,:accept => 'text/xml') %>
			</div>
  		</div>
		<%= submit_tag( "Upload file" ) %>
	<%end%>
	<%= link_to 'Back', :back %>
	<hr>
</div>
